<div id="card-area">
  <div (click)="openModal()" id="card-img">
    <img [src]="game.data?.header_image || 'assets/imgs/default.jpg'" />
  </div>
  <div id="card-info">
    <div id="category-box">
      @if(game.data?.price_overview?.final_formatted !== "Free To Play" && !isInWishlist(game) && !isInLibrary(game)){
        <button (click)="sendToWishlist(game)" class="card-labels-int">Add To Wishlist</button>
      }
      @if(isInLibrary(game)){
        <button disabled class="card-labels">In Library</button>
      }
      <button disabled class="card-labels">Favourite</button>
    </div>
  </div>
</div>