<div id="card-area">
  <div (click)="openModal()" id="card-img">
    <img [src]="game.data?.header_image || 'assets/imgs/default.jpg'" />
  </div>
  <div id="card-info">
    <div id="category-box">
      @if(isInFavourites(game)){
      <button (click)="removeFromFavourites(game)" class="card-labels-int">
        Rimuovi Dai Preferiti
      </button>
      } @else {
      <button (click)="addToFavourites(game)" class="card-labels-int">
        Aggiungi Ai Preferiti
      </button>
      }
    </div>
  </div>
</div>
