<div id="card-area">
  <div (click)="openModal()" id="card-img">
    <img [src]="game.data?.header_image || 'assets/imgs/default.jpg'" />
  </div>
  <div id="card-info">
    <div id="category-box">
      <button disabled class="card-labels">Prezzo: {{ game.data?.price_overview?.final_formatted }}</button>
      <button (click)="buyGame(game)" class="card-labels-int">Acquista</button>
      <button (click)="removeFromWishlist(game)" class="card-labels-int">Rimuovi Dalla Lista Desideri</button>
    </div>
  </div>
</div>
