@if(!gamesLoaded){
<app-spinner></app-spinner>
} @if(homeGames.length === 0){
  <p class="no-games-message">NO GAMES WITH SEARCH CRITERIA</p>
} @else{
<div class="pure-g">
  @for(game of homeGames;track game.appid){
  <div class="pure-u-1-3">
    <app-home-game-card
      [game]="game"
      (modalOpener)="openModalHandler($event)"
      (wishlistSend)="wishlistHandler($event)"
      (librarySend)="libraryHandler($event)"
    >
    </app-home-game-card>
  </div>
  }
</div>
<div id="page-buttons">
  @if(page !== 0){
  <button class="page-button" (click)="fetchHomeGames(actions.prevPage)">
    Pagina Precedente
  </button>
  <button class="page-button" (click)="fetchHomeGames(actions.firstPage)">
    Torna All'Inizio
  </button>
  }
  <button class="page-button" (click)="fetchHomeGames(actions.nextPage)">
    Pagina Successiva
  </button><br>

</div>
<div class="DivPageCounter" style="text-align: center; font-weight: bold">
  <label class="NmPage">Pagina: </label>
  <label class="NmPage">{{ page+1 }}</label>
</div>
<app-info-game-card
  [game]="selectedGame"
  [isVisible]="viewModal"
  (modalCloser)="closeModalHandler()"
></app-info-game-card>
}