body {
    background: linear-gradient(145deg, #2f2f2f, #3c3c3c);
    color: #dfe6e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 70px;
    background-attachment: fixed;
    background-size: cover;
}